.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins

build/

.flutter-plugins
.idea/workspace.xml
pubspec.lock
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/Flutter_Plugins.xml
